@model PBsizing.Models.Cab_Dim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cab_Dim</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cabDim_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cabDim_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mm_inch)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mm_inch)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BatteryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BatteryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAB_A)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAB_A)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAB_B)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAB_B)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAB_C)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAB_C)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAB_D)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAB_D)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAB_HP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAB_HP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAB_HCB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAB_HCB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAB_HD1_2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAB_HD1_2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cust_CAB_HEI)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cust_CAB_HEI)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cust_CAB_WIDTH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cust_CAB_WIDTH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cust_CAB_Depth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cust_CAB_Depth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
