@model PBsizing.Models.BATTERIE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BATTERIE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CMA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CMA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CBT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CBT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CGB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CGB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CBA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CBA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DESC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DESC)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WIDTH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WIDTH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LENGTH)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LENGTH)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HEIGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HEIGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WEIGHT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WEIGHT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CAPACITY)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CAPACITY)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
