@model IEnumerable<PBsizing.Models.BATTERIE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CMA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CGB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CBA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIDTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LENGTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HEIGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WEIGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAPACITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CMA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CBT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CBA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIDTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LENGTH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HEIGHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WEIGHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAPACITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
